/*==========================benefits==============================*/
#benefits h1{
    margin-bottom: 40px;
}
#benefits hr{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 1), rgba(0, 0, 0, 0));
    width: 20%;
}
#benefits .box-1{
    padding: 30px 20px 20px 30px;
    margin: 25px 0px 25px 0px;
    font-size: 20px;
}
#benefits .box-1 p {
    background-color: transparent;
    color: #0666A1;
}
#benefits .benefit-icon {
    padding-top: 0px;
    padding-bottom:10px;
    color: #0666A1;
}

/*==========================patron==============================*/
.patron-header h1{
    padding-bottom:  0;
    margin-bottom:  0;

}
.patron-header h3{
    padding:  0;

}
.patrons-row img{
    width:  80%;
    max-width: 300px;
    margin: 20px;
}
.patrons-row h3 {
    color:#778899;
}

.gold img {
    width:  100%;
    max-width: 300px;
    margin: 20px;
}

.silver img {
    width:  50%;
    max-width: 300px;
    margin: 20px;
}

.bronze img {
    width:  40%;
    max-width: 300px;
    margin: 20px;
}


/*==========================temp==============================*/
.patrons-temp{
    padding-bottom: 40px;
}
.patrons-list li{
    list-style: none;
    text-align: center;
}
.patrons-list ul{
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0;
}

/*==========================patrons package button==============================*/
.package-button{
    background-color: #0666A1;
    font-size: 20px;
    border: none;
    margin-top: 10px;

}
.package-button:hover,
.package-button:active,
.package-button:visited,
.package-button:focus {
    text-decoration: none;
    background-color: #004c72;
    color: #fff;
}

/*==========================patrons package options==============================*/

#pat-options .space-right {
  margin-right: 10px;
}

#pat-options a[aria-expanded=true] .fa-caret-right {
   display: none;
}
#pat-options a[aria-expanded=false] .fa-caret-down {
   display: none;
}
#pat-options .card.card-block {
    background-color: #eee;
    border-radius: 10px;
    height: 100%;
}
.pat-op-box li {
    list-style: none;
    padding: 0px;
}
.pat-op-box ul {
    padding: 0px;
}

.pat-op-box h2 {
    background-color: #0666A1;
    font-weight: bold;
    margin: 0 20% 0 20%;
    color: #FFF;
    padding: 6px;
    font-size: 25px;
}

.pat-op-box h4 {
    padding: 0;
    margin: 15px 0 5px 0;
}

.pat-op-box {
    margin-bottom: 35px;
}
