/*==========================general==============================*/
.center-block {
  margin: 0 auto;
}

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }



.shadow{
    -webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.75);
}
body{
    background-color: #D3D3D3; 
}

hr {
    width: 80%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}

.section h1{
    margin-bottom: 30px;
}
.section{
    margin-bottom: 60px; 
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}


/*==========================cover photo==============================*/
.page-head{
	background-size: cover;
	height: 520px;
	padding: 0px 0 0 0px;
	margin: 0px;
	background: transparent;
}

@media (max-width:970px) {
   .page-head {
        height: 450px;
    }

}
.header-logo {
   width: 50%;
   margin: 0;
   padding: 0;
   border: 0;
}
.header-logo td{ 
     vertical-align: middle;
     text-align: center;
}
.header-logo img{ 
     width: 50%;
     max-width: 600px;
     padding-top:80px;
     
}
.body-box{
    margin-top: -80px;
    z-index: 99;
    background-color: #fff; 
    padding: 40px 40px;
    border-radius: 8px;
}

/*==========================Page header-info icons==============================*/
.circle-icon {
    background: #ffc0c0;
    padding:20px 20px 20px 20px;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    margin-bottom:5px;
    margin-top: 15px;
}

.page-header{
    margin-top:  0px;
    margin-bottom:  50px;
}
.calender-icon{
    background-color: #CC0033;
    color: #fff;
    
}
.location-icon{
    background-color: #E37222;
    color: #fff;
}
.ticket-icon{
    background-color: #66CC33;
    color: #fff;
}
.event-info-icons a h4{
    font-size: 18px; 
    color: #2c3e50;
    margin-bottom: 5px; 
}
.event-info-icons a p{
    font-size: 15px;
    margin-top: 0px; 
    color: #778899;
}
.event-info-icons a{
   text-decoration: none; 
}

/*==========================About==============================*/
#about p{
    padding: 30px 20px 20px 30px;
    margin: 25px 0px 25px 0px;
    min-height: 250px;
    color: #fff;
}
#about h1{
    margin-bottom: 5px;
}

.box-1 p{
    background-color: #006699;
}

.box-2 p{
    background-color: #006699;
}
.box-3 p{
    background-color: #006699;
}

/*==========================Speaker==============================*/
.speaker-box h1 {
    color: #778899;
    font-size: 20px;
}
.speaker-box h4 {
    color: #778899;
    font-size: 15px;
    margin-bottom: 20px; 
}
.speaker-box p{
    margin: 0px 20px;
}
.img-circle {
   width: 45%;
}
.speaker-box{
    margin-top: 30px;
}

@media (max-width: 4000px) {
    .img-circle {
        width: 35%;
    }
}
@media (max-width:1200px) {
    .img-circle {
        width: 55%;
    }

}
@media (max-width:770px) {
    .img-circle {
        width: 40%;
    }

}

@media (max-width:470px) {
    .img-circle {
        width: 55%;
    }

}

/*==========================patron==============================*/
.patron-header h1{
    padding-bottom:  0;
    margin-bottom:  0;
    
}
.patron-header h3{
    padding:  0;
    
}
.patrons-row img{
    width:  80%;
    max-width: 300px;
    margin: 20px;
}
.patrons-row h3 {
    color:#778899;
}



.navbar{
    background-color:#0B5172;
}

.body {
  padding-top: 100px;
}

.header-logo {
   height:100%;
   width: 100%;
   margin: 0;
   padding: 0;
   border: 0;
}
.header-logo td{ 
     vertical-align: middle;
     text-align: center;
}
.header-logo img{ 
     width: 20%;
     max-width: 600px;
     padding-top:80px;
     
}

.navbar-brand {
	margin: 0px 0px 0px 10px;
    padding: 0;
}
	.navbar-brand img{
		margin: 0 0px 0 0px;
		padding: 5px 20px 10px 20px;
		width: 170px;
		height: auto;
        background-color: white;	

	}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

#agenda .table{
 width: 90%;
}
@media (max-width: 4000px) {
    #agenda .table {
        width: 50%;
    }
}
@media (max-width:1200px) {
    #agenda .table {
        width: 60%;
    }

}
@media (max-width:770px) {
    #agenda .table {
        width: 90%;
    }

}

@media (max-width:470px) {
    #agenda .table {
        width: 90%;
    }

}
#agenda .table thead {
    background-color: #006699;
    color:  #fff;
}
.zz{
    background-color: red;
}

.center-table
{
  margin: 0 auto !important;
  float: none !important;
}


footer{
    background-color:#0B5172;
    margin-top:-60px;
}
.footer{
    padding: 30px 50px;
    color: #fff;
}
footer li {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}
footer ul{
    margin: 0;
}
footer li i{
    padding-right: 10px;
    text-align: left;
}

.contact_icons{
    height: 80px;
    display: block;
     margin: 0 auto;
     padding:  10px 10px 10px 10px;
}

footer hr{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 1), rgba(0, 0, 0, 0));
}
