/*==========================general==============================*/
.center-block {
  margin: 0 auto;
}

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }



.shadow{
    -webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.75);
}
body{
    background-color: #D3D3D3; 
}

hr {
    width: 80%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}

.section h1{
    margin-bottom: 30px;
}
.section{
    margin-bottom: 60px; 
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}


/*==========================cover photo==============================*/
.page-head{
	height: 570px;
	padding: 0px 0 0 0px;
	margin: 0px;
	background: transparent;
}

@media (max-width:991px) {
   .page-head {
        height: 450px;
    }

    .ieee-box{
        display: none;
    }
    .div-box{
        display: none;
    }
}
.header-logo {
   width: 50%;
   margin: 0;
   padding: 0;
   border: 0;
}
.header-logo td{ 
     vertical-align: middle;
     text-align: center;
}

.header-logo img{ 
     width: 50%;
     max-width: 600px;
     padding-top:80px;   
}
.body-box{
    margin-top: -60px;
    position: relative;
    z-index: 5;
    background-color: #fff; 
    padding: 40px 40px;
    border-radius: 8px;
}
.header-logo {
   height:100%;
   width: 100%;
   margin: 0;
   padding: 0;
   border: 0;
}
.header-logo td{ 
     vertical-align: middle;
     text-align: center;
}
.header-logo img{ 
     width: 20%;
     max-width: 600px;
     padding-top:80px;
     
}
.header-h2{
    padding-right: 30px;
    padding-left: 30px;
}
.logo-table {
    background-color: white;
}
.navbar-brand {
	margin: 0px 0px 0px 10px;
    padding: 0; 
}
	.navbar-brand img{
		margin: 0 0px 0 0px;
		padding: 5px 17px 5px 10px;
		width: 170px;
		height: auto;
	}
.spac-box img{
	margin: 0 0px 0 0px;
	padding: 7px 6px 5px 10px;
		width: auto;
		height: 70px;
}

.header-ticket-button{
    margin-top: 14px;
}
.div-line{ 
    display:block;
    border:none;
    color:white;
    height:50px;
    width:2px;
    background-image: linear-gradient( rgba(0, 0, 0, 0), rgba(11, 81, 114, 1), rgba(0, 0, 0, 0));
}
/*==========================Page header-info icons==============================*/
.circle-icon {
    background: #ffc0c0;
    padding:20px 20px 20px 20px;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    margin-bottom:5px;
    margin-top: 15px;
}

.page-header{
    margin-top:  0px;
    margin-bottom:  50px;
}
.calender-icon{
    background-color: #CC0033;
    color: #fff;
    
}
.location-icon{
    background-color: #E37222;
    color: #fff;
}
.ticket-icon{
    background-color: #66CC33;
    color: #fff;
}
.event-info-icons a h4{
    font-size: 18px; 
    color: #2c3e50;
    margin-bottom: 5px; 
}
.event-info-icons a p{
    font-size: 15px;
    margin-top: 0px; 
    color: #778899;
}
.event-info-icons a{
   text-decoration: none; 
}

/*==========================About==============================*/
#about p{
    padding: 30px 20px 20px 30px;
    margin: 25px 0px 25px 0px;
    min-height: 250px;
    color: #fff;
}
#about h1{
    margin-bottom: 5px;
}

.box-1 p{
    background-color: #006699;
}

.box-2 p{
    background-color: #006699;
}
.box-3 p{
    background-color: #006699;
}

/*==========================Speaker==============================*/
#speaker h4{
    margin-bottom: 20px;
    margin-top: -10px;
}
.speaker-box h2 {
    padding-bottom: 5px;
}
.speaker-box h4 {
    color: #778899;
    font-size: 15px; 
}
.speaker-box p{
    margin: -10px 20px;
}
.img-circle {
   width: 45%;
}
.speaker-box{
    margin-top: 30px;
}

@media (max-width: 4000px) {
    .img-circle {
        width: 35%;
    }
}
@media (max-width:1200px) {
    .img-circle {
        width: 55%;
    }

}
@media (max-width:770px) {
    .img-circle {
        width: 40%;
    }

}

@media (max-width:470px) {
    .img-circle {
        width: 55%;
    }

}
/*==========================tickets==============================*/
#tickets h1{
    margin-bottom: 0px;
}

.ticket-info{
    margin-bottom: 20px;
}
.ticket-button {
    margin-top: 30px;
    display: none;
}
.ticket-form{
        display: block;
    }
@media (max-width:696px) {
   .page-head {
        height: 450px;
    }

    .ticket-form{
        display: none;
    }
    .ticket-button{
        display: block;
    }
}
/*==========================patron==============================*/
.patron-header h1{
    padding-bottom:  0;
    margin-bottom:  0;
    
}
.patron-header h3{
    padding:  0;
    
}
.patrons-row img{
    width:  80%;
    max-width: 300px;
    margin: 20px;
}
.patrons-row h3 {
    color:#778899;
}

.gold img {
    width:  100%;
    max-width: 300px;
    margin: 20px;
}

.silver img {
    width:  60%;
    max-width: 250px;
    margin: 20px;
}

.bronze img {
    width:  40%;
    max-width: 300px;
    margin: 20px;
}

#kongsberg-sponsor{
    width:  25%;
    max-width: 200px;
    margin-top: 20px;
}
#NRC-sponsor{
    width:  80%;
    max-width: 300px;
    margin-top: 50px;
}

.navbar{
    background-color:#0B5172;
}

.body {
  padding-top: 100px;
}



.col-centered {
    float: none;
    margin: 0 auto;
}

#agenda .table{
 width: 90%;
}
@media (max-width: 4000px) {
    #agenda .table {
        width: 50%;
    }
}
@media (max-width:1200px) {
    #agenda .table {
        width: 60%;
    }

}
@media (max-width:770px) {
    #agenda .table {
        width: 90%;
    }

}

@media (max-width:470px) {
    #agenda .table {
        width: 90%;
    }

}
#agenda .table thead {
    background-color: #006699;
    color:  #fff;
}
.zz{
    background-color: red;
}

.center-table
{
  margin: 0 auto !important;
  float: none !important;
}


footer{
    background-color:#0B5172;
    margin-top:-60px;
    position: relative;
    z-index: 8;
}
.footer{
    padding: 30px  50px 15px 50px;
    color: #fff;
}
footer li {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}
footer ul{
    margin: 0;
}
footer li i{
    padding-right: 10px;
    text-align: left;
}

.contact_icons{
    height: 85px;
    display: block;
    margin: 0 auto;
    padding:  10px 10px 20px 10px;
}

footer hr{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 1), rgba(0, 0, 0, 0));
}
.nav-hr{
        display: none;
    }


@media (max-width:767px) {
   .nav-hr{
        display: block;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 1), rgba(0, 0, 0, 0));
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

.footer-message{
    margin-top: 0px;
    padding-top: 0px;
}
.footer-message p{
    margin-top: 0px;
    text-align: center;
    color: white;
}



/*==========================header==============================*/

#main-slider {
  background: url("../images/header/header5.jpg") ;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  padding: 140px 0;
  color: #fff;
  position: relative;
  z-index: 1;
}
#main-slider .item {
  -moz-transition: opacity ease-in-out 500ms;
  -o-transition: opacity ease-in-out 500ms;
  -webkit-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 500ms;
  left: 0 !important;
  opacity: 0;
  top: 0;
  position: absolute;
  width: 100%;
  display: block !important;
  z-index: 1;
  text-align: center;
}
#main-slider .item:first-child {
  top: auto;
  position: relative;
}
#main-slider .item.active {
  opacity: 1;
  -moz-transition: opacity ease-in-out 500ms;
  -o-transition: opacity ease-in-out 500ms;
  -webkit-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 500ms;
  z-index: 2;
}
#main-slider .item.active h1 {
  -webkit-animation: scaleUp 400ms;
  -moz-animation: scaleUp 400ms;
  -o-animation: scaleUp 400ms;
  -ms-animation: scaleUp 400ms;
  animation: scaleUp 400ms;
}
#main-slider .prev,
#main-slider .next {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  display: inline-block;
  margin-top: -50px;
  font-size: 24px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 4px;
  z-index: 5;
}
#main-slider .prev:hover,
#main-slider .next:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
#main-slider .prev {
  left: 10px;
}
#main-slider .next {
  right: 10px;
}
#main-slider h1 {
  font-size: 68px;
  text-shadow: 0 3px rgba(0, 0, 0, 0.1);
  color: #fff;
}

 .navbar .nav li a:visited{
    color:  #fff;
}
 .navbar .nav li a:hover{
    color:  #18bc9c;
}

.carousel-message{
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel-inner{
    height: 200px;
}

#kong-head-logo{
  background-color: rgba(255, 255, 255, 0.3); 
  padding: 10px; 
  width: 150px;  
  margin-bottom: 10px;
}

.header-message-pad{
    padding-top: 10px;
}
/*==========================temp==============================*/
.patrons-temp{
    padding-bottom: 40px;
}
.patrons-list li{
    list-style: none;
    text-align: center;
}
.patrons-list ul{
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0;
}

.pat-button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #006699;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    width: 250px;
}

.pat-button:hover{
    text-decoration: none;
    background-color: #2C3E50;
    color: #fff;
}


.dropdown-menu{
    color: #fff;
    background-color: #0B5172;
    margin-right: -1px;
} 
.dropdown li a{
    color: #fff;
} 

.package-button{
    background-color: #006699;
    font-size: 20px;
    border: none;
    margin-top: 10px;
}
.dropdown-toggle{
    margin-bottom: -1px;
}

.facebook{
    text-align: right;
    padding-top: 130px;
    height: 450px;
}

.facebook a:link{
    text-decoration: none;
    color: #006699;
}

/* visited link */
.facebook a:visited {
    text-decoration: none;
    color: #006699;
}

/* mouse over link */
.facebook a:hover {
    text-decoration: none;
    color: #2C3E50;
}

/* selected link */
.facebook a:active {
    text-decoration: none;
    color: #2C3E50;
}
.facebook p{
    font-size: 30px;
}
#contact .div-line{
    height: 450px;
}
.contact-verline{
    width: 5px;
}


@media (max-width:991px) {
    .facebook{
        font-size: 10px;
        text-align: center;
        padding: 10px;
        background-color: #006699;
        height: 70px;
        color: #fff;
        margin-bottom: 20px;
    }
    .facebook p{
        display: none;
    }
    .facebook a:link{
        text-decoration: none;
        color: #fff;
    display:inline-block;
    width:100%;
    }
    .facebook a:visited {
        text-decoration: none;
        color: #fff;
    }
    .contact-verline{
        display: none;
    }
}

@media (max-width:470px) {
    #agenda .table {
        width: 90%;
    }

}

