.page-head{
	background-size: cover;
	height: 520px;
	padding: 0px 0 0 0px;
	margin: 0px;
	background: transparent;
}
.header-logo {
   height:100%;
   width: 100%;
   margin: 0;
   padding: 0;
   border: 0;
}
.header-logo td{ 
     vertical-align: middle;
     text-align: center;
}
.header-logo img{ 
     width: 50%;
     max-width: 600px;
     padding-top:80px;
     
}
.body-box{
    margin-top: -60px;
    z-index: 99;
    background-color: #fff; 
    padding: 40px 40px;
    border-radius: 8px;
}

body{
    background-color: #D3D3D3; 
}

.center-block {
  margin: 0 auto;
}

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-center {
  text-align: center !important; }